@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
    scroll-snap-type: y proximity;
}

body {
    position: relative;
    min-height: 100vh;
    width: 100%;
    background-color: rgb(246, 247, 244);
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 0;
    background-color: rgb(235, 235, 234);
    box-shadow: 
        0 2px 4px rgba(0, 0, 0, .05),
        0 2px 8px rgba(0, 0, 0, .05);
    transition: padding .5s;
    z-index: 100;
}

nav.active {
    padding: 0;
}

#nav-trigger {
    display: none;
    position: absolute;
    visibility: hidden;
    pointer-events: none;
}

nav .menu-label {
    position: relative;
    display: none;
    height: 20px;
    width: 25px;
    cursor: pointer;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 20px;
}

nav ul li {
    list-style: none;
}

nav ul li:hover a {
    font-weight: 600;
}

nav ul li a {
    display: inline-block;
    text-decoration: none;
    padding: 15px 20px;
    color: #005C7A;
}

.sec {
    height: 100vh;
    width: 100%;
    padding: 50px 50px 30px 70px;
    scroll-snap-type: y mandatory;
    scroll-snap-align: start;
    overflow: hidden;
}

p {
    font-size: 1.2rem;
    font-weight: 400;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.intro h1 {
    position: relative;
    font-size: 4rem;
    margin-bottom: 30px;
    animation: fade 1s ease-in-out forwards;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.intro h1 .text {
    font-weight: 600;
    padding-right: 22px;
    margin-right: 15px;
    background-color: rgb(246, 247, 244);
}

.intro .text::after {
    content: '';
    position: absolute;
    bottom: 3px;
    right: 15px;
    width: 7px;
    height: 4rem;
    background-color: #000;
}

.intro h1 .auxiliry {
    position: absolute;
    left: 0;
    color: #005C7A;
    font-weight: 400;
    z-index: -1;
    animation: reveal-text-2 1s ease-in-out forwards;
    animation-delay: .5s;
}

@keyframes reveal-text-2 {
    0% {
        left: 0;
    }
    100% {
        left: 100%;
    }
}

.intro p {
    margin-bottom: 30px;
    transform: translateY(-50%);
    opacity: 0;
    animation: drop-reveal .7s ease-in-out forwards;
    animation-delay: 1.6s;
}

@keyframes drop-reveal {
    0% {
        transform: translateY(-50%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.btn {
    border: none;
    outline: none;
    text-decoration: none;
    font-size: 1.5rem;
    background-color: #005C7A;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
}

.intro .btn {
    transform: translateY(-50%);
    opacity: 0;
    animation: drop-reveal .7s ease-in-out forwards;
    animation-delay: 2.3s;
}

.member {
    position: relative;
    display: grid;
    grid-template-columns: 1fr minmax(400px, 1fr);
}

.member .content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.member .content h1 {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 20px;
}

.member .img-box {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.member .img-box img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    transform: translateX(50%);
    opacity: 0;
    transition: .5s;
}

.member .img-box img.fade-in {
    transform: translateX(0);
    opacity: 1;
}

.member .next {
    display: none;
}